In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [3]:
df = pd.read_csv('green_tripdata_2019.csv')

/tmp/ipykernel_28399/563264766.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019.csv')

In [6]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
engine.connect()

In [36]:
df_iterator = pd.read_csv('green_tripdata_2019.csv', iterator=True, chunksize=100000)

In [31]:
df = next(df_iterator)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1.0,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1.0,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1.0,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1.0,0.0

In [ ]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [35]:
df.head(n=0).to_sql(name="green_taxi_data", con=engine, if_exists='replace')

0

In [ ]:
df.to_sql(name="yellow_taxi_data", con=engine, if_exists='append')

In [37]:
while True:
    t_start = time()
    
    df = next(df_iterator)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name="green_taxi_data", con=engine, if_exists='append', low_memory=False)

    t_end = time()

    print('Chunk inserted... %.3f seconds' % (t_end - t_start))

Chunk inserted... 9.220 seconds
Chunk inserted... 8.839 seconds
Chunk inserted... 8.807 seconds

/tmp/ipykernel_28399/690987865.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iterator)

Chunk inserted... 8.935 seconds
Chunk inserted... 5.910 seconds

StopIteration:

In [39]:
zones_df = pd.read_csv('taxi_zone_lookup.csv')

In [40]:
zones_df.head(n=0).to_sql(name="taxi_zones", con=engine, if_exists='replace')

0

In [41]:
zones_df.to_sql(name="taxi_zones", con=engine, if_exists='append')

265